@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/roboto-light-italic-webfont.woff"), url("/fonts/roboto-light-italic-webfont.woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/roboto-light-webfont.woff"), url("/fonts/roboto-light-webfont.woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/roboto-regular-webfont.woff"), url("/fonts/roboto-regular-webfont.woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: italic;
  src: url("/fonts/roboto-regular-italic-webfont.woff"), url("/fonts/roboto-regular-italic-webfont.woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/roboto-medium-webfont.woff"), url("/fonts/roboto-medium-webfont.woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("/fonts/roboto-bold-webfont.woff"), url("/fonts/roboto-bold-webfont.woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/roboto-thin.woff"), url("/fonts/roboto-thin.woff2");
}
